<app-create-content (newCarEvent)="addCarToList($event)"></app-create-content>

<form onsubmit="return false;">
  <input #checkType>
  <button type="submit" (click)="checkForType(checkType.value)">Search</button>
</form>

<div class="TypeExists">
  {{message}}
</div>

<app-content-card *ngFor="let content of contentList;" [content]="content">
</app-content-card>

<!--<app-content-card *ngFor="let content of contentList | contentPipe: 'retro sports car';" [content]="content">-->
<!--</app-content-card>-->

<!--<app-content-card *ngFor="let content of contentList | contentPipe: 'sports car';" [content]="content">-->
<!--</app-content-card>-->

<!--<app-content-card *ngFor="let content of contentList | contentPipe: 'supercar';" [content]="content">-->
<!--</app-content-card>-->

<!--<app-content-card *ngFor="let content of contentList | contentPipe: 'hypercar';" [content]="content">-->
<!--</app-content-card>-->

<!--<app-content-card *ngFor="let content of contentList | contentPipe: 'retro supercar';" [content]="content">-->
<!--</app-content-card>-->


