@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&display=swap');


#add-content-form {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
  width: 49%;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-family: 'Montagu Slab', serif;
    margin-top: 0;
    text-align: center;
  }

  #label-wrapper {
    margin-right: 30%;

    label {
      padding: 0;
      text-align: right;
      display: block;
    }

    input {
      margin-left: 2em;
      float: right;
      width: 20em;
      border: 1px solid black;
      padding: 0.3em;
    }
  }

  button {
    margin-top: 10px;
    margin-left: 45%;
  }
}


