
<form id="add-content-form">
  <h1>Add Content</h1>

  <div id="label-wrapper">
  <p>
    <label>Title:
      <input type="text" required="required" #title>
    </label>
  </p>

  <p>
    <label>Author:
      <input type="text" required="required" #author>
    </label>
  </p>

  <p>
    <label>Image URL:
      <input type="text" #imgURL>
    </label>
  </p>

  <p>
    <label>Type:
      <input type="text" #type>
    </label>
  </p>

  <p>
    <label>Tags:
      <input type="text" #tags>
    </label>
  </p>
  </div>

  <p><button>Add Content</button></p>
</form>
