@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&display=swap');

h1 {
  font-family: 'Montagu Slab', serif;
}

#content-div {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  width: 50%;
}

#misc-div {
  border-top: 1px solid black;
  font-size: 0.75em;
}

#author-p {
  margin-top: -15px;
  font-size: 0.8em;
}

#tag-div {
  display: inline-block;
}

