<form id="add-content-form">
  <div id="input-wrapper">
    <h1>Add Content</h1>

    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Author">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Image URL">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Type">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Tags">
    </mat-form-field>

    <button mat-button>Add</button>
  </div>
</form>
