#content-div {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  width: 25%;
}

#misc-div {
  border-top: 1px solid black;
  font-size: 0.75em;
}

#author-p {
  margin-top: -15px;
  font-size: 0.8em;
}

