#content-div {
<<<<<<< Updated upstream
  //margin: 5px 5px 10px 5px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  width: 50%;
=======
  margin: 5px 5px 10px 5px;
  padding: 5px;
  border: 1px solid black;
  width: 35%;
>>>>>>> Stashed changes
}

#misc-div {
  border-top: 1px solid black;
  font-size: 0.75em;
}

#author-p {
  margin-top: -15px;
  font-size: 0.8em;
}

